<!DOCTYPE html>
<html lang="en-US">

<head>
    <title> Run Blue </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!--  -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/sign_in.css">
    <script src="./js/script.js" defer></script>

    <script src='./js/jquery.min.js'></script>
    <script src='./js/page.js'></script>

    </title>
</head>

<body>
    <div id="app">
        <!-- Header -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h3 class='title'>Run<span style="color:#245580">Blue</span></h3>
                </div>

                <ul class="navbar-nav mr-auto" style="list-style: none;">
                    <li class="nav-item active">
                        <img src="./img/headerGif.gif" alt="Man running across screen" width="50px" height='70px'
                            class="runningGif">
                    </li>

                    <!--
                    <li class="nav-item active profileBtn" v-show="noProfile">
                        <button :class='showProfile ? Success: Normal' class='btn sign-in-button'
                            v-on:click="profileClick" style="height: 50px;">
                            {{Profile}} </button>
                    </li>
                -->

            </div>
        </nav>



        <!-- NAVBAR -->
        <div v-show='showNavbar' style="top: 0px; margin-top: -25px; position: sticky;">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="row">


                        <ul class="navbar-nav mr-auto" style="list-style: none; width: 800px;">

                            <li class="nav-item active" style="margin-left: 0px;">
                                <button :class='showMakeAPost ? Success: Normal' class='btn' v-on:click="makeAPostClick"
                                    style="height: 50px; width: 100px; margin-bottom: 5px; margin-top: 5px;">
                                    Make A Post </button>
                            </li>

                            <li class="nav-item active" style="margin-left: 215px;">
                                <button :class="showFeed ? Success: Normal" class='btn' v-on:click="feedClick"
                                    style="height: 50px; width: 100px; margin-bottom: 5px; margin-top: 5px;">
                                    Feed</button>
                            </li>
                            <li class="nav-item active" style="margin-left: 215px;">
                                <button :class="showLeaderboard ? Success: Normal" class='btn'
                                    v-on:click="leaderboardClick"
                                    style="height: 50px; width: 100px; margin-bottom: 5px; margin-top: 5px;">
                                    Leaderboard</button>
                            </li>
                        </ul>


                    </div>

                </div>
            </nav>
        </div>




        <!-- Sign In -->
        <div class="container" v-show="showSignIn">
            <div style="font-size: 75px; text-align: center;">
                Welcome to Run<span style="color:#245580">Blue</span>!
            </div>

            <br>
            <div class="form-group">
                <label for="username_input">Username</label>
                <input type="email" class="form-control" id="username_input" placeholder="Enter username"
                    v-model="username">
            </div>
            <div class="form-group">
                <label for="password_input">Password</label>
                <input type="password" class="form-control" id="password_input" placeholder="Password"
                    v-model="password">
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="keep_me_singed_in_check"
                    v-model="keep_me_signed_in">
                <label class="form-check-label" for="keep_me_singed_in_check">Keep me signed in</label>
            </div>
            <button type="submit" class="btn btn-primary sign-in-button" v-on:click="signInButton">Submit</button>
            <button type="button" class="btn btn-warning sign-in-button" v-on:click="createAccountButton">Create
                Account</button>
        </div>

        <!-- Create Account -->
        <div class="container" v-show="showCreateAccount">
            <div style="font-size: 40px; text-align: center;">
                Enter in some Information to Create a Run<span style="color:#245580">Blue</span> Account!
            </div>

            <br>

            <div class="form-group">
                <label for="first_name_input">First Name</label>
                <input type="text" class="form-control" id="first_name_input" v-model="first_name">
            </div>
            <div class="form-group">
                <label for="last_name_input">Last Name</label>
                <input type="text" class="form-control" id="last_name_input" v-model="last_name">
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" v-model="new_username">
            </div>
            <div class="form-group">
                <label for="password_input">Password</label>
                <input type="password" class="form-control" id="new_password_input" v-model="new_password">
            </div>
            <div class="form-group">
                <label for="repeat_password_input">Repeat Password</label>
                <input type="password" class="form-control" id="repeat_password_input" v-model="new_password_2">
            </div>
            <button type="submit" class="btn btn-primary sign-in-button" v-on:click="createAccountButton_2">Create
                Account</button>



        </div>

        <!-- Feed -->
        <div class="container" v-show="showFeed">

            <div class='refresh'>
                <button class='btn btn-primary' class='button' v-on:click='updateFeed'>Refresh Feed </button>
            </div>

            <div v-for="(person, index) in feedArray">

                <div class="feedTitle">
                    {{person.owner}}'s Run
                </div>
                <div>
                    <img v-bind:src='person.imageurl' class='feedImage'>
                </div>

                <div class="feedDescription">
                    <div style="margin-left: 5px; margin-bottom: 5px;">
                        <span style="font-weight:bold ;"> Caption: </span> {{person.caption}}
                    </div>
                    <div style="margin-left: 5px; margin-bottom: 5px;">
                        <span style="font-weight:bold ;"> Distance: </span> {{person.distance}} miles
                    </div>
                    <div style="margin-left: 5px; margin-bottom: 5px;">
                        <span style="font-weight: bold;"> Time: </span>{{person.time}} minutes
                    </div>


                </div>


            </div>

        </div>

        <!-- Make a Post -->
        <div class="container" v-show="showMakeAPost">
            <h3>Make a Post</h3>
            <div class="form-group">
                <label for="title_input">Title</label>
                <input type="text" class="form-control" id="title_input">
            </div>
            <div class="form-group">
                <label for="description_input">Description</label>
                <textarea class="form-control" id="description_input"></textarea>
            </div>
            <div class="form-group">
                <label for="distance_input">Distance</label>
                <input type="text" class="form-control" id="distance_input">
            </div>
            <div class="form-group">
                <label for="time_input">Time</label>
                <input type="text" class="form-control" id="time_input">
            </div>
            <div class="form-group">
                <label for="image_upload">Image Upload</label>
                <input type="file" class="form-control" id="image_upload" multiple accept="image/*">
            </div>
            <button type="submit" class="btn-lg btn-primary sign-in-button">Post!</button>
        </div>

        <!-- Leaderboard -->
        <br>
        <div class="container" v-show="showLeaderboard">
            <div class="row-no-gutters">
                <div class="col-md-2">
                    <h4>Sort By:</h4>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            {{leaderboard.sort_by[leaderboard.sort_by_idx]}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li :class="get_sort_dropdown_class(0)" v-on:click="on_sort_dropdown_click(0)">
                                <a href="#">Name</a>
                            </li>
                            <li :class="get_sort_dropdown_class(1)" v-on:click="on_sort_dropdown_click(1)">
                                <a href="#">Distance</a>
                            </li>
                            <li :class="get_sort_dropdown_class(2)" v-on:click="on_sort_dropdown_click(2)">
                                <a href="#">Time</a>
                            </li>
                            <li :class="get_sort_dropdown_class(3)" v-on:click="on_sort_dropdown_click(3)">
                                <a href="#">Date</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 flex-nowrap">
                    <h4>Filter By:</h4>
                </div>
                <div class="col-md-2">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <!-- {{leaderboard.filter_by[leaderboard.filter_by_idx]}} -->
                            {{leaderboard.filter_by[leaderboard.filter_by_idx]}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li :class="get_filter_dropdown_class(0)" v-on:click="on_filter_dropdown_click(0)">
                                <a href="#">Today</a>
                            </li>
                            <li :class="get_filter_dropdown_class(1)" v-on:click="on_filter_dropdown_click(1)"><a
                                    href="#">Last Week</a></li>
                            <li :class="get_filter_dropdown_class(2)" v-on:click="on_filter_dropdown_click(2)"><a
                                    href="#">Last Month</a></li>
                            <li :class="get_filter_dropdown_class(3)" v-on:click="on_filter_dropdown_click(3)"><a
                                    href="#">Last 3 Months</a></li>
                            <li :class="get_filter_dropdown_class(4)" v-on:click="on_filter_dropdown_click(4)"><a
                                    href="#">Last Year</a></li>
                            <li :class="get_filter_dropdown_class(5)" v-on:click="on_filter_dropdown_click(5)"><a
                                    href="#">All Time</a></li>
                        </ul>
                    </div>
                </div>


            </div>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Distance</th>
                        <th scope="col">Time</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody v-for="entry in leaderboard.data">
                    <tr>
                        <th scope="row">{{entry.owner}}</th>
                        <td>{{entry.distance}}</td>
                        <td>{{entry.time}}</td>
                        <td>TODO: Date</td>
                    </tr>
                </tbody>
            </table>
        </div>


        <!-- Profile 
        <div class="container" v-show="showProfile">

            <div class="container-fluid" id='profile-header'>
                My Run<span style="color: blue;">Blue</span> Profile
            </div>

            <div class='container-fluid' id='profile-pic-cont'>
                Profile Image here

            </div>

            <div class='container-fluid' id='profile-content'>
                <ul style="list-style: none;">
                    <li style="padding-top: 5px;">
                        Username:
                    </li>
                    <li style="padding-top: 5px;">
                        Bio:
                    </li>
                    <li style="padding-top: 5px;">
                        Total Distance Logged:
                    </li>
                    <li style="padding-top: 5px;">
                        Total Time Logged:
                    </li>
                </ul>
            </div>
        -->



    </div>



    </div>

</body>