<!DOCTYPE html>
<html lang="en-US">

<head>
    <title> Run Blue </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>

    <!--  -->
    <link rel="stylesheet" href="./style.css">
    <script src="script.js" defer></script>
    </title>
</head>

<body>
    <div id="app">

        <!-- Header -->
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <h3 class='title'>Run<span style="color:blue">Blue</span></h3>
                </div>

                <ul class="navbar-nav mr-auto" style="list-style: none;">
                    <li class="nav-item active">
                        <img src="./runningGif.gif" alt="Man running across screen" width="800" height=100px class="runningGif">
                    </li>

                    <li class="nav-item active profileBtn">
                        <button class="btn-primary" v-on:click="profileClick" style="height: 50px;"> {{Profile}} </button>
                    </li>

            </div>
        </nav>

        <!-- Sign In -->
        <div class="container" v-show="showSignIn">
            <div style="font-size: 75px; text-align: center;">
                Welcome to Run<span style="color:blue">Blue</span>!
            </div>

            <div>
                <ul style="list-style: none;">
                    <li class="user-pass">
                        Username: 

                        <input type="text" v-model= "username" style="width: 500px;">

                    </li>

                    <li class="user-pass">
                        Password:
                        <input type="text" v-model= "password" style='width: 500px'>
                    </li>

                    <li style="padding-top: 50px;">

                        <button v-on:click="signInButton" class='sign-in-btn'>
                            Log In!
                        </button>

                    </li>

                    <li style="padding-top: 50px;">

                        <button v-on:click="createAccountButton" class='sign-in-btn'>
                            Create an Account!
                        </button>

                    </li>
                </ul>

            </div>
        </div>

        <!-- Create Account -->
        <div class="container" v-show="showCreateAccount">
            <div style="font-size: 40px; text-align: center;">
                Enter in some Information to Create a Run<span style="color:blue">Blue</span> Account!
            </div>

            <div>
                <ul style="list-style: none;">
                    <li class="user-pass-create">
                        First Name: 

                        <input type="text" v-model= "first_name" style="width: 500px;">

                    </li>

                    <li class="user-pass-create">
                        Last Name: 
                        <input type="text" v-model= "last_name" style='width: 500px'>
                    </li>

                    <li class='user-pass-create' style="margin-left: 206px;">

                        Username:
                        <input type="text" v-model= "new_username" style='width: 500px'>

                    </li>

                    <li class='user-pass-create' style="margin-left: 207px;">

                        Password:
                        <input type="text" v-model= "new_password" style='width: 500px'>

                    </li>

                    <li class='user-pass-create' style='margin-left: 120px;'>

                        Repeat Password:
                        <input type="text" v-model= "new_password_2" style='width: 500px'>

                    </li>
                    
                    <li style="padding-top: 50px;">

                        <button v-on:click="createAccountButton_2" class='sign-in-btn'>
                            Create an Account!
                        </button>

                    </li>
                </ul>

            </div>



        </div>

        <!-- Feed -->
        <div class="container" v-show="showFeed"></div>

        <!-- Make a Post -->
        <div class="container" v-show="showMakeAPost"></div>

        <!-- Leaderboard -->
        <div class="container" v-show="showLeaderboard"></div>

        <!-- Profile -->
        <div class="container" v-show="showProfile">
            This is the profile screen
        </div>



    </div>

</body>


</html>